<a href="https://colab.research.google.com/github/VU21CSEN0100037/Python-new/blob/module-2/MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Create a function which accepts two inputs from the user and compute n
Cr

In [ ]:
def fact(i):
 if i>0:
   return i*fact(i-1)
 else:
  return 1
def comb(n,r):
 return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=9
b=6

84.0

Program to get the difference between the two lists

In [ ]:
a_list=[9,6,3,5,7,1,8,4,9,5,3,6,5,8,7,6]
b_list=[5,9,4,8,3,6,7,2,5,9,4,8,3,9]
x=set(a_list)
y=set(b_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[1]
[2]

Program to find the second smallest number and second largest number in a list.

In [ ]:
num1_list=[2,1,9,0,9,57,963,348,94]
num1_list.sort()
print(num1_list)
print("second smallest num in the given list is: ",num1_list[1])
print("second largest num in the given list is: ",num1_list[len(num1_list)-2])
[2,1,9,0,9,57,963,348,94]

[0, 1, 2, 9, 9, 57, 94, 348, 963]
The second smallest number in the given list is:  1
The second largest number in the given list is:  348

[2, 1, 9, 0, 9, 57, 963, 348, 94]

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
 if len(x)!=K:
   new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [ ]:
a_list=[3,86,4,56,12]
result=[(x,x**2) for x in a_list]
print("The required list is: ",result)

The required list is:  [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

 Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :

In [ ]:
english_dictionary=dict()
x=int(input("Enter a number:"))
for i in range(1,x+1):
 english_dictionary.update({i:i**2})
print("the required dictionary is:",english_dictionary)

Enter a number:8
the required dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
flowers_shop=dict()
x=int(input("enter a number:"))
for i in range(1,x+1):
 flowers_shop.update({i:i**2})
 print("the required shop is:",flowers_shop)

enter a number:8
the required shop is: {1: 1}
the required shop is: {1: 1, 2: 4}
the required shop is: {1: 1, 2: 4, 3: 9}
the required shop is: {1: 1, 2: 4, 3: 9, 4: 16}
the required shop is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
the required shop is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
the required shop is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
the required shop is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Program to remove a key from a dictionary

In [ ]:
makeup={
  'brand': 'maybelline',
 'product':'lip gloss',
 'colour':'pale pink ',
 'cost':150
}
makeup.pop('product')
print(makeup)
del makeup['cost']
print(makeup)
{'brand': 'maybelline', 'colour': 'pale pink', 'cost': 150}

{'brand': 'maybelline', 'colour': 'pale pink ', 'cost': 150}
{'brand': 'maybelline', 'colour': 'pale pink '}

{'brand': 'maybelline', 'colour': 'pale pink', 'cost': 150}

Program to get the maximum and minimum value in a dictionary

In [ ]:
the_dictionary={
 'a':27, 'b':33, 'c':96, 'd':12
 }
max_value=max(the_dictionary, key=the_dictionary.get)
min_value=min(the_dictionary, key=the_dictionary.get)
print("The max value in the given dictionary has a key: '"+max_value+"' and its value is:",the_dictionary[max_value])
print("The min value in the given dictionary has a key: '"+min_value+"' and its value is:",the_dictionary[min_value])

The max value in the given dictionary has a key: 'c' and its value is: 96
The min value in the given dictionary has a key: 'd' and its value is: 12

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations

In [ ]:
string=input("enter a string: ")
print(string.split())
print(string[4:19])

enter a string: python is more easy and time saving language than c language
['python', 'is', 'more', 'easy', 'and', 'time', 'saving', 'language', 'than', 'c', 'language']
on is more easy

Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .
Example-I have to go to a doctor and get myself checked. Count the number of
occXrrences of µWo¶

In [ ]:
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

Program for replacing one substring by another For example - Rabbit - Replace 'bb' to 'cc'

In [ ]:
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

Program to Acronym generator for any user input (ex-input is Random memory access
then output should be RMA).Example - Random number (RN)

In [ ]:
string=input("enter some string:")
a=string.split()
for i in a:
 print(i[0],end='')

enter some string:Random Memory Access
RMA

Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [ ]:
string="I want chocolate milkshake with chocolate icecream."
count_1=0
count_2=0
for i in string:
 if i.isupper():
  count_1+=1
 elif i.islower():
  count_2+=1
else:
 pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  1
No.of lowercase alphabets are:  43

Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings. Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
sample_List = ['abc', 'xyz', 'mom','1221','chennai','99']
count=0
for i in Sample_List:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
   print(i)
 count+=1
print(count)

6